.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
}

.Menu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: #62a8a8; /* same teal shade */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.Menu input {
  width: 250px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding-left: 8px;
}

.Menu button {
  width: 200px;
  height: 45px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background: #fff;
}

.Menu button:hover {
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}
